<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <h1>Bem-vindo, <%= nome %></h1>
  <h2>Seus e-mails:</h2>
  <ul>
    <% if (emails.length === 0) { %>
      <li>Nenhum e-mail encontrado.</li>
    <% } else { %>
      <% emails.forEach(email => { %>
        <li><%= email.id %></li>
      <% }) %>
    <% } %>
  </ul>
    <p><a href="/logout"><button>Sair</button></a></p>
</body>
</html>