<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Pagina de Login</h1>
    <h3><a href="/auth/google">Faça login com o Google</a></h3>
	<h4>Necessário confirmar</h4>
</body>

</html>

kkk pois é, dessa vez nao vou conseguir mas fica pra proxima!!